<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-capitalized">Make your study abroad dream a reality</h1>
            <p class="subtitle">From selecting the right course to your first day at the university, we help you in every step of
                the journey.</p>
            <a
                href="https://app.coursefinder.ai/student-platform/a9c63b3d/sign-up"
                role="button"
                class="button is-large is-rounded is-responsive is-primary">
                <span class="is-capitalized">Start your journey now</span>
                {% set iconSize = "is-medium" %}
                {% include "../icons/right.njk" %}
            </a>
        </div>
    </div>
</section>