<section class="section is-medium has-text-centered has-background-primary-light">
    <h2 class="title is-capitalized">How we work</h2>
    {% set steps = 
    [
        { title: "Consult", description: "Connect with our experts to assess your educational goals and visa requirements." },
        { title: "Apply", description: "We guide you in selecting the right program, university and provide full support for your visa application." },
        { title: "Fly", description: "Once approved, you're ready to start your journey to your dream destination." }
    ] %}
    <div class="columns">
        {% for step in steps %}
            <div class="column">
                <div class="box">
                    <div class="tags has-addons are-medium is-justify-content-center">
                        <span class="tag">STEP-{{ loop.index }}</span>
                        <span class="tag is-primary has-text-weight-bold is-uppercase">{{ step.title }}</span>
                    </div>
                    <p class="subtitle">{{ step.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>