<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{card.src}}" alt="{{card.alt}}"/>
        </figure>
    </div>
    <div class="card-content">
        <p class="title is-4">{{card.title}}</p>
        <p class="subtitle is-6">{{card.subtitle}}</p>
    </div>
</div>