<footer class="footer">
    <div class="content has-text-centered">
        <p class="has-text-weight-light">
            All Rights Reserved. © 2024
            <a href="/" class="has-text-weight-bold is-capitalized">SS Overseas</a>
        </p>
    </div>
</footer>