<header>
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ '/assets/logo.png' | url | safe }}" alt="ss overseas logo"/>
            </a>
        </div>
    </nav>
</header>